<!doctype html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CG - Plataforma de ensino a distância" />
    <title>Cursos Grátis</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <div class="content">
        <div class="header">
            <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
                <a class="pure-menu-heading" href="/">Cursos Grátis</a>
                <ul>
                    <!-- <li><a href="/contato">Contato</a></li> -->
                    {% if user.is_authenticated %}
                    <li><a href="#">Bem vindo(a) {{ user }}</a></li>
                    <li style="color: darkgray">|</li>
                    <li><a href="/cursos">Cursos</a></li>
                    <li><a href="/contas">Minha conta</a></li>
                    <li><a href="/contas/sair">Sair</a></li>
                    {% else %}
                    <li style="color: darkgray">|</li>
                    <li><a href="/contas/entrar">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        {% if messages %}
        <aside class="pure-u-1">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        </aside>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
<footer class="footer">
    CG - Plataforma de ensino a distância
</footer>

</html>