{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="splash image">
        <div class="blur">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Plataforma de Ensino a Distância
                    </h1>
                    <h2 class="splash-subhead" style="color: black;">
                        A Cursos Grátis visa simplificar o ensino a distância, provendo uma ferramenta objetiva de fácil acesso aos cursos.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}